= form_for @template do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :html
    = f.text_area :html, rows: 25, class: 'form-control'
  .form-group
    = f.label :text
    = f.text_area :text, rows: 25, class: 'form-control'
  = f.submit class: 'btn btn-primary'
