.row
  .col-md-12
    %h2
      .pull-right
        = link_to t('canned_meat.views.campaigns.index.new'), canned_meat.new_campaign_path, class: 'btn btn-primary'
      =t 'canned_meat.views.campaigns.index.headline'

    %table.table.table-striped
      %thead
        %tr
          %th= CannedMeat::Campaign.human_attribute_name('name')
          %th=t 'canned_meat.views.defaults.actions'
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td= campaign.name
            %td
              = link_to t('canned_meat.views.defaults.buttons.show'), campaign, class: 'btn btn-default btn-sm'
              = link_to t('canned_meat.views.defaults.buttons.edit'), canned_meat.edit_campaign_path(campaign), class: 'btn btn-default btn-sm'
              = link_to t('canned_meat.views.defaults.buttons.destroy'), campaign, method: :delete, data: {confirm: t('canned_meat.views.defaults.confirmation')}, class: 'btn btn-danger btn-sm'
