.row
  .col-md-8
    %h2
      = @campaign.name
      %small=t "canned_meat.views.campaigns.status.#{@campaign.status}"
    %p
      %b= CannedMeat::Campaign.human_attribute_name(:list_id)
      = link_to @campaign.list.name, @campaign.list
    %p
      %b= CannedMeat::Campaign.human_attribute_name(:template_id)
      = link_to @campaign.template.name, @campaign.template
    %p
      %b= CannedMeat::Campaign.human_attribute_name(:subject)
      = @campaign.subject
    %p
      %b= CannedMeat::Campaign.human_attribute_name(:body)
      %pre= @campaign.body
  .col-md-4
    - if @campaign.draft?
      %p
        = link_to t('canned_meat.views.defaults.buttons.edit'), canned_meat.edit_campaign_path(@campaign)
      = form_tag canned_meat.send_test_mail_campaign_path(@campaign) do
        .form-group
          = label_tag :subscription_id, t('canned_meat.views.campaigns.show.labels.subscription_id')
          = select_tag :subscription_id, options_from_collection_for_select(@campaign.list.subscriptions.subscribed, :id, :subscriber_name), class: 'form-control'
        = submit_tag t('canned_meat.views.campaigns.show.buttons.send_test_mail'), class: 'btn btn-default'
      %p
        = link_to t('canned_meat.views.campaigns.show.buttons.send'), canned_meat.send_campaign_path(@campaign), method: :patch, class: 'btn btn-primary'
