!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    %title canned_meat - Newsletter Management 
    = stylesheet_link_tag 'canned_meat/application', media: 'all'
  %body
    .container
      %nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{data: {target: "#navbar-collapse-1", toggle: "collapse"}, type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to t('canned_meat.views.navigation.canned_meat'), canned_meat.root_path, class: 'navbar-brand'
          #navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li= link_to t('canned_meat.views.navigation.campaigns'), canned_meat.campaigns_path
              %li= link_to t('canned_meat.views.navigation.lists'), canned_meat.lists_path
              %li= link_to t('canned_meat.views.navigation.templates'), canned_meat.templates_path
      = yield
    = javascript_include_tag 'canned_meat/application'
